# Node
node_modules/
npm-debug.log
yarn-error.log
.env
build/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
venv/
.venv/
env/

# Operating System Files
.DS_Store
Thumbs.db

# IDE/Editor Files
.vscode/
.idea/ 